<h2 id="title">Ember Slides</h2>

<div>
  <h3>Simple example with prev/next buttons.</h3>
  {{#slide-deck as |d|}}
    {{#d.slide}}
      Slide 1
    {{/d.slide}}
    {{#d.slide}}
      Slide 2
    {{/d.slide}}
    {{#d.slide}}
      Slide 3
    {{/d.slide}}
    <button {{action d.prev}} disabled={{d.prevDisabled}}>Prev</button>
    <button {{action d.next}} disabled={{d.nextDisabled}}>Next</button>
  {{/slide-deck}}
</div>
<hr>
<div>
  <h3>Simple example that wraps from first -> last and last -> first.</h3>
  {{#slide-deck wrap=true as |d|}}
    {{#d.slide}}
      Slide 1
    {{/d.slide}}
    {{#d.slide}}
      Slide 2
    {{/d.slide}}
    {{#d.slide}}
      Slide 3
    {{/d.slide}}
    <button {{action d.prev}}>Prev</button>
    <button {{action d.next}}>Next</button>
  {{/slide-deck}}
</div>
<hr>
<div>
  <h3>Named slides with buttons for each slide.</h3>
  {{#slide-deck as |d|}}
    {{#d.slide name="one"}}
      Slide 1
    {{/d.slide}}
    {{#d.slide name="two"}}
      Slide 2
    {{/d.slide}}
    {{#d.slide name="three"}}
      Slide 3
    {{/d.slide}}

    {{#each d.slides as |s|}}
      <button {{action d.show s.name}} disabled={{s.isActive}}>{{s.name}}</button>
    {{/each}}
  {{/slide-deck}}
</div>
